  <!-- SUBCRIPCION -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Suscribase a nuestra pagina MisOfertas <strong> LO MEJOR EN OFERTAS</strong></p>
							<%--<form>--%>
								
                                 <asp:TextBox ID="txtCorreo"   CssClass="input" placeholder="Ingresa Tu Correo"    runat="server"></asp:TextBox>
								<%--<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribete</button>--%>
                                <asp:Button ID="btnSuscribir" CssClass="newsletter-btn"  runat="server" Text="Suscribete" OnClick="btnSuscribir_Click" />
							<%--</form>--%>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
    <!-- SUBCRIPCION -->